body{
	background: #1674A7;
	font-size: 62.5%;
	font-family: 'Varela Round', Helvetica, Arial, serif;
}
/* Global Styles*/
h1{

}

h2{
}

h5{
	font-size: 1rem;
	margin-bottom: 0;

}

p{
	font-size: 1rem;
}

button{
	font-size: 1rem;
	color: white;
	padding: 0.4rem 1.4rem;
	border: none;
	background: #578f84;
	 border-radius: 4px;
	cursor: pointer;

}

img{
	object-fit: cover;
}

/* Nav bar */
.main-head {
	background-color: #1674A7;
	padding: 20px;
	text-align: center;
}
.main-head .main {
	display: flex;
	align-items: center;
	justify-content: center;

}

nav.main{
	min-height: 7vh;
	display: flex;
	width: 65%;
	margin: auto;
	align-items: center;
	padding: 0.5rem;
}

nav.main ul{
	display: flex;
	flex: 1 1 40rem;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

#logo{
	flex: 2 1 40rem;
}

/* -----*/

a{
	font-size: .93rem;
	text-decoration: none;
	color: black;
}


.main {
	background: white;
	width: 100%;
	margin: 10% auto;
	border-radius: 4px;
	padding-bottom: 20px;
	box-shadow: 0 4px 500px rgba(0, 0, 0, 0.1); /* Agrega una sombra al layout */
}

/* NAVIGATION BAR */
/* Estilos para la barra de navegación */
.second-nav {
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 10px;
	position: relative;
	z-index: 1;
}

.second-nav::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px; /* Reduce la altura de la sombra */
	background-color: rgba(0, 0, 0, 0.1);
	z-index: -1;
}

.second-nav a {
	text-decoration: none;
	color: #1674A7;
	margin-right: 10px;
}

.second-nav a:hover {
	color: #ccc;
}

.second-nav .feed{
	flex: 1 1 30px;
}

.second-nav .feed:hover{
	flex: 1 1 30px;
	color: grey;
}

.second-nav .profile{
	flex: 1 1 30px;
}

.second-nav .profile:hover{
	flex: 1 1 30px;
	color: grey;
}

.second-nav .new{
	flex: 6 1 5rem;
	text-align: right;
	text-transform: uppercase;
  	color: ##1674A7;
}

.second-nav .new:hover{
	color: grey;
}

/* Article */

article {
	background-color: #FFFFFF;
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
}


article h2 {
	font-size: 1.5rem;
	color: #1674A7;
}

.username{
	margin-bottom: .2rem;
}

.username a{
	font-size: 1.1rem;
}

.container-article{
  display: flex;
}

.profile-picture {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid black;
}

.post-image {
  max-width: 50%; /* Ajusta el ancho máximo de la imagen */
  height: auto; /* Permite que la altura se ajuste proporcionalmente */
  border-radius: 8px; /* Agrega bordes redondeados */
  margin-bottom: 10px; /* Agrega un margen inferior */
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}

article:last-child {
  border-bottom: 0;
}

time {
  font-size: .8rem;
  opacity: .7;
}

.post {
  font-size: 1.1rem; /* Aumenta el tamaño de fuente */
  line-height: 1.5; /* Ajusta el interlineado */
  color: #333; /* Cambia el color del texto */
  margin-bottom: 10px; /* Agrega un margen inferior */
  font-weight: bold;
}

/* PROFILE */
.profile{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.profile img{
  height: 100px;
  width: 100px;
  margin-right: 10px;
  border-radius: 50%;
  margin: 20px;
}
.profile h2{
	margin-top: -10px;
	font-size: 1.3rem;
}


/* Followers / Following / Post */
.follow{
	display: flex;
	width: 95%;
	justify-content: space-around;
	margin: 30px auto;
	text-align: center;
	border-bottom: 2px solid #ECEEEF;
	padding-bottom: 20px;
}


/*Form Elements*/
form {
    margin: 0;
    padding: 40px;
    font-size: 1rem;
}
input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
input:focus {
  border-color: #578f84;
  color: #2C3238;
}
textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: #777B7E;
}
textarea:focus {
  border-color: #578f84;
  color: #2C3238;
}
button#submit {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #578f84;
  color: #fff;
  border: 0;
  border-radius: 4px;
  opacity: .8;
  transition: .35s linear;
}

button#submit:hover {
  opacity: 1;
}

/*Notifications*/
.notification {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.9rem;
}
.success {
  background: #43DC7E;
  color: white;
}
.error {
  background: #AB3444;
  color: white;
  margin-bottom: 20px;
}


/*Footer*/
footer {
	background-color: #1674A7;
	padding: 20px;
	text-align: center;
}
footer .row {
	margin: 0;
}

footer p {
  opacity: .8;
}

footer p a {
  color: white;
}

img.profile{
  height: 80px;
  width: 80px;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 50%;
}


.follow-button{
  color: white;
}

/*Media Queries*/
@media (max-width: 786px) {
  .main {
    width: 95%;
  }

}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background: #578f84;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #578f84;
}

.btn:hover {
  background-color: #5D809E;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Agrega una línea divisoria debajo del layout */
.main .second-nav {
  border-bottom: 4px solid #1674A7;
  padding-bottom: 10px;
}

/* Centrar el texto "Bienvenido a Meet-EAFIT!" */
.main-head #logo {
  text-align: center;
}

.main-head .logo {
	width: 60px;
}

.main-head .logo-title {
	font-size: 24px;
	margin-left: 10px;
}

.main-head .nav-links {
	list-style: none;
	margin-left: auto;
}

.main-head .nav-links li {
	display: inline-block;
	margin-left: 10px;
}

.main-head .nav-links li a {
	text-decoration: none;
	color: #333;
}

.main-head .nav-links li a:hover {
	color: #666;
}


/* Desplazar el botón "Logout" hacia la derecha */
nav.main ul li:last-child {
  margin-left: auto;
}

/* Estilizar el botón "Logout" como un botón */
nav.main ul li:last-child a {
  padding: 8px 16px;
  background-color: #1674A7;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

nav.main ul li:last-child a:hover {
  background-color: #5D809E;
}
.main-content {
	margin: 20px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
}
.row {
	display: flex;
	justify-content: center;
}

.comment-box {
    background-color: #F2F2F2;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.comment-box p {
    margin: 0;
}

.comment-box .author {
    font-weight: bold;
}

.comment-box .content {
    margin-left: 10px;
}

.comment-box .content:before {
    content: "- ";
}

.carousel-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.carousel {
  /* Elimina la regla "display: none;" para que el carrusel sea visible */
}

.carousel img {
  width: 100%;
  height: auto;
}

.carousel-title {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.carousel-buttons {
  margin-top: 10px;
  margin-bottom: 20px;
}

.carousel-prev,
.carousel-next {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background: #578f84;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.carousel-prev {
  margin-right: 10px;
}

.carousel-next {
  margin-left: 10px;
}





