<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Análisis de Encuestas</title>
</head>
<body>
    <h1>Análisis de Encuestas</h1>

    <h2>Gráfico: Gusto de Meet-EAFIT</h2>
    <img src="{{ MEDIA_URL }}/media/graficos/grafico_gusta.png" alt="Gráfico de Gusto de Meet-EAFIT">


    <h2>Gráfico: Seguirá usando Meet-EAFIT</h2>
    <img src="{{ MEDIA_URL }}/media/graficos/grafico_seguira_usando.png" alt="Gráfico de seguir usando Meet-EAFIT">


    <h2>Gráfico: Satisfacción con la carrera</h2>
    <img src="{{ MEDIA_URL }}/media/graficos/grafico_satisfaccion_carrera.png"alt="Gráfico de Satisfacción con la carrera">


</body>
</html>
