{% extends 'social/layout.html' %}

{% block content %}
  <h2>Buscar usuario</h2>
  <form method="GET" action="{% url 'buscar_usuario' %}">
    {{ form }}
    <button type="submit">Buscar</button>
  </form>

  {% if resultados %}
    <h3>Resultados:</h3>
    <ul>
      {% for usuario in resultados %}
      <img src="{{ usuario.profile.image.url }}" alt="Foto de perfil" class="profile-picture">
        <li><a href="{% url 'profile' usuario.username %}">{{ usuario.username }}</a></li>
      {% empty %}
        <li>No se encontraron usuarios</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
