{% extends 'social/layout.html' %}
{% load humanize %}
{% block content %}

<a href="{% url 'encuesta' %}" class="btn btn-primary">Nos ayudas con una encuesta rapida? :)</a>
{% for post in posts %}
<article>
    <div class="container-article">
        <img src="{{ post.user.profile.image.url }}">
        <div>
            <h2 class="username"><a href="{% url 'profile' post.user.username %}">@{{ post.user.username }}</a></h2>
            <i class="clock"></i>
            <time data-time="#">{{ post.timestamp|naturaltime }}</time>
            <div class="post">{{ post.content }}</div>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 500px;">
            {% endif %}
            <h4>Comentarios</h4>
            <ul>
                {% for comment in post.comments.all %}
                <li>{{ comment.author }}: {{ comment.text }}</li>
                {% endfor %}
            </ul>
            <!-- agregar un formulario para agregar un nuevo comentario -->
            <form method="POST" action="{% url 'post_comments' post.pk %}">
                {% csrf_token %}
                <label for="author">Autor:</label>
                <input type="text" name="author">
                <br>
                <label for="text">Comentario:</label>
                <textarea name="text"></textarea>
                <br>
                <button type="submit">Agregar comentario</button>
            </form>
        </div>
    </div>
</article>
{% endfor %}

{% endblock %}
